{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock title %}

{% block content %}
    <section>
        <div class="container-content">
            <div class="history-links">
                <p>Главная / <span>О нас</span></p>
            </div>
            <div class="about">
                <div class="about-title">
                    <h2>О компании</h2>
                    <p>Компания «ASKU Energy» была основана в 2014 году, и ее основным направлением в начале было
                        поставка
                        электротехнических товаров и монтаж. Сегодня компания «ASKU Energy» является одним из основных
                        поставщиков в западном регионе Казахстана. Наша компания успешно развивает как продажу
                        низковольтной
                        аппаратуры так и поставки запасных частей для нефтегазовой отрасли. Репутация точного,
                        выполняющего
                        обязательства партнера позволила нашей компании построить прочные отношения с одними из
                        крупнейших
                        компаний ЗКО. <br>
                        Команда «ASKU Energy»– это компетентные специалисты, оказывающие всестороннюю поддержку клиентам
                        на
                        всех этапах проекта.</p>
                </div>
                <div class="partners-section">
                    <h2>Наши партнеры</h2>
                    <div class="container-content">
                        <div class="partners-section-logo">
                            <img src="{% static 'assets/img/logo/partners/about-partners/1.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/2.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/3.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/4.png' %}" alt="">
                        </div>
                        <div class="partners-section-logo">
                            <img src="{% static 'assets/img/logo/partners/about-partners/5.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/6.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/7.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/8.png' %}" alt="">
                        </div>
                        <div class="partners-section-logo">
                            <img src="{% static 'assets/img/logo/partners/about-partners/9.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/10.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/11.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/12.png' %}" alt="">
                        </div>
                        <div class="partners-section-logo">
                            <img src="{% static 'assets/img/logo/partners/about-partners/13.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/14.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/15.png' %}" alt="">
                            <img src="{% static 'assets/img/logo/partners/about-partners/16.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
