{% extends 'base.html' %}
{% load static %}

{% block title %}Отзывы{% endblock title %}

{% block content %}
    <section>
        <div class="container-content">
            <div class="history-links">
                <p>Главная / <span>Отзывы</span></p>
            </div>
            <div class="reviews">
                <div class="review-header">
                    <h2>Отзывы</h2>
                </div>
                <div class="review-content">
                    <div class="review-user">
                        <div class="review-user-img">
                            <img src="{% static 'assets/img/icon/profile 1.png' %}" alt="">
                        </div>
                        <div class="review-user-title">
                            <h3>Азамат</h3>
                            <p class="review-user-comment">Компания «ASKU Energy» была основана в 2014 году, и ее
                                основным
                                направлением в начале было поставка электротехнических товаров и монтаж. Сегодня
                                компания
                                «ASKU Energy» является одним из основных поставщиков в западном регионе Казахстана. Наша
                                компания успешно развивает как продажу низковольтной аппаратуры так и поставки запасных
                                частей для нефтегазовой отрасли. </p>
                            <p class="review-user-date">20/20/2020</p>
                        </div>
                    </div>
                    <div class="review-user">
                        <div class="review-user-img">
                            <img src="{% static 'assets/img/icon/profile 1.png' %}" alt="">
                        </div>
                        <div class="review-user-title">
                            <h3>Азамат</h3>
                            <p class="review-user-comment">Компания «ASKU Energy» была основана в 2014 году, и ее
                                основным
                                направлением в начале было поставка электротехнических товаров и монтаж. Сегодня
                                компания
                                «ASKU Energy» является одним из основных поставщиков в западном регионе Казахстана. Наша
                                компания успешно развивает как продажу низковольтной аппаратуры так и поставки запасных
                                частей для нефтегазовой отрасли. </p>
                            <p class="review-user-date">20/20/2020</p>
                        </div>
                    </div>
                    <div class="review-user">
                        <div class="review-user-img">
                            <img src="{% static 'assets/img/icon/profile 1.png' %}" alt="">
                        </div>
                        <div class="review-user-title">
                            <h3>Азамат</h3>
                            <p class="review-user-comment">Компания «ASKU Energy» была основана в 2014 году, и ее
                                основным
                                направлением в начале было поставка электротехнических товаров и монтаж. Сегодня
                                компания
                                «ASKU Energy» является одним из основных поставщиков в западном регионе Казахстана. Наша
                                компания успешно развивает как продажу низковольтной аппаратуры так и поставки запасных
                                частей для нефтегазовой отрасли. </p>
                            <p class="review-user-date">20/20/2020</p>
                        </div>
                    </div>
                    <div class="review-user">
                        <div class="review-user-img">
                            <img src="{% static 'assets/img/icon/profile 1.png' %}" alt="">
                        </div>
                        <div class="review-user-title">
                            <h3>Азамат</h3>
                            <p class="review-user-comment">Компания «ASKU Energy» была основана в 2014 году, и ее
                                основным
                                направлением в начале было поставка электротехнических товаров и монтаж. Сегодня
                                компания
                                «ASKU Energy» является одним из основных поставщиков в западном регионе Казахстана. Наша
                                компания успешно развивает как продажу низковольтной аппаратуры так и поставки запасных
                                частей для нефтегазовой отрасли. </p>
                            <p class="review-user-date">20/20/2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
