{% extends 'base.html' %}
{% load static %}
{% load products_extras %}

{% block title %}Каталог{% endblock title %}

{% block content %}
    <section>
        <div class="container-content">
            <div class="history-links">
                <p>Главная / <span>Каталог</span></p>
            </div>
            <div class="catalog-header">
                <h2>Аксессуары для герметизации кабеля</h2>
            </div>
            <div class="catalog-section">
                <div class="catalog-config">
                    <nav class="catalog-menu">
                        <ul class="catalog-menu-list">
                            <li>
                                <a href="#" class="catalog-menu-link"><p>Категории</p><i><img
                                        src="{% static 'assets/img/icon/arrow-catalog-menu.png' %}" alt=""></i></a>
                                <ul class="catalog-sub-menu-list">
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Арматура кабельная/ <br>
                                            Изоляционные материалы</a>
                                        <nav class="catalog-sub-sub-menu-list">
                                            <ul>
                                                <li>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                                <li class="catalog-sub-sub-menu-li">
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                                <li class="catalog-sub-sub-menu-li">
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Батарейки, аккумуляторы, <br> зарядные
                                            устройства</a>
                                        <nav class="catalog-sub-sub-menu-list">
                                            <ul>
                                                <li>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                                <li class="catalog-sub-sub-menu-li">
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                                <li class="catalog-sub-sub-menu-li">
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                    <a href="" class="catalog-sub-sub-menu-link">Аксессуары для
                                                        герметизации
                                                        кабеля</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Электроустановочные изделия</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Инструменты для опрессовки, <br>
                                            резки,
                                            снятия изоляции</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Кабеленесущие системы</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Кабели и провода</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Лампы</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Материалы для подключения</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Отопительные приборы/ <br>
                                            Технологические
                                            и инженерные системы</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Реле</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Светильники</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Системы защиты шланговые</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Системы распределения
                                            электроэнергии/распределительные устройства</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Устройства защиты, плавкие
                                            предохранители,
                                            <br> модульные устройства/ монтажные устройства</a>
                                    </li>
                                    <li>
                                        <a href="#" class="catalog-sub-menu-link">Учетная техника</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="filter">
                        <!-- <h2 class="filter-header">Цена товара</h2>
                        <div id="slider-range"></div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#000; font-weight:400;">
                            <label for="amount"></label>
                        </p> -->
                        <div class="filter-checks">
                            <p>Материал</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled1">
                                <label class="form-check-label" for="flexCheckDisabled1">
                                    Пластик
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled2">
                                <label class="form-check-label" for="flexCheckDisabled2">
                                    Бумага
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled3">
                                <label class="form-check-label" for="flexCheckDisabled3">
                                    Медь
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled"
                                       checked>
                                <label class="form-check-label" for="flexCheckCheckedDisabled">
                                    Алюминий
                                </label>
                            </div>
                        </div>
                        <div class="filter-checks">
                            <p>Наличие</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" checked>
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Есть в наличие
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled">
                                <label class="form-check-label" for="flexCheckCheckedDisabled">
                                    Под заказ
                                </label>
                            </div>
                        </div>
                        <div class="filter-checks">
                            <p>Новинки</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" checked>
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Да
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled">
                                <label class="form-check-label" for="flexCheckCheckedDisabled">
                                    Нет
                                </label>
                            </div>
                        </div>
                        <div class="filter-buttons">
                            <button style="background: #A0A4AA;">Сбросить</button>
                            <button style="background: #082861;;">Применить</button>
                        </div>
                    </div>
                </div>
                <div class="products-item">
                    <div class="sorting">
                        <div class="header-amount-found">
                            <!--                        <h6>Найдено 912 товаров</h6>-->
                        </div>
                        <div class="select">
                            <p>Сортировать по</p>
                            <select name="" id="">
                                <option value="1">Цене</option>
                                <option value="2">Цене</option>
                                <option value="3">Цене</option>
                            </select>
                        </div>
                    </div>
                    <div class="product-content">
                        {% for item in items %}
                            <div class="product-card">
                                <a href="{% url 'product_detail' item.CODE %}">
                                    <img src="{{ item.IMAGE_URL }}" alt="">
                                    <div class="card-title">
                                        <p>{{ item.NAME|truncatechars:60 }}</p>
                                        <span>КОД {{ item.CODE }}</span>
                                    </div>
                                    <div class="card-price">
                                        <p>{{ item.PRICE }} ₽</p>
                                    </div>
                                </a>
                                <div class="card-inbasket">
                                    <button type="submit">В корзину</button>
                                </div>
                            </div>
                        {% endfor %}

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href='?page={{ page|add:"-1" }}' aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                {% get_page_range page last_page as page_range %}
                                {% for i in page_range %}
                                    {% if page == i %}
                                        <li class="page-item active"><a href="?page={{ i }}"
                                                                        class="page-link">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                <li class="page-item">
                                    <a class="page-link" href='?page={{ page|add:"1" }}' aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'assets/js/range.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
{% endblock content %}